<ion-header>
  <ion-navbar>
    <ion-title>
      Inmuebles en Renta 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let c of casas' col-6>
         <ion-card>
          
           <h1 *ngIf="c.hasOwnProperty('price')"> {{c.price.formattedAmount}} </h1>
           <h2 *ngIf="c.hasOwnProperty('geo')"> {{c.geo.displayName}} </h2>
           <img *ngIf="c.hasOwnProperty('pictures')" src= "{{c.pictures[0].url}}"> 
         </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
